data/*.tbz2
data/140824
data/140826
data/160829
astrometric_calibration/.temp
astrometric_calibration/__pycache__/
.ipynb_checkpoints/
temp*.ipynb
temp*.py
*.swp
astrometric_calibration/*.dat
astrometric_calibration/*.fit
astrometric_calibration/*.FIT
astrometric_calibration/*.pars
astrometric_calibration/*.png
astrometric_calibration/*.mp4
spectrophotometric_calibration/*.fit
spectrophotometric_calibration/.temp
spectrophotometric_calibration/__pycache__/
spectrophotometric_calibration/*.mp4
spectrophotometric_calibration/*.spcal
image_processing/*.png
image_processing/*.frames
image_processing/s1c140824_glowfit
image_processing/s1c140826_glowfit
image_processing/keo140824_glowfit
image_processing/keo140826_glowfit
image_processing/keo160829_glowfit
image_processing/sbig160829_glowfit
image_processing/couples140824
image_processing/couples140826
image_processing/couples160829
modelling/*.dat
modelling/model_*.py
modelling/__pycache__/
solving/sphere
solving/spheroid
solving/spheroid_incl
solving/ellipsoid
solving/drop
figures/*.png
figures/*.eps
figures/*.pdf
