data/*.tbz2
data/140824
data/140826
data/160829
astrometric_calibration/.temp
astrometric_calibration/__pycache__/
.ipynb_checkpoints/
temp*.ipynb
temp*.py
astrometric_calibration/*.dat
astrometric_calibration/*.fit
astrometric_calibration/*.FIT
astrometric_calibration/*.pars
astrometric_calibration/*.png
astrometric_calibration/*.mp4
